<!DOCTYPE html>
<html>
	<head>
		<title>LensPy with Flask demo</title>
		<meta charset="utf-8" />
		<!-- <meta name="description" content="{{description}}" /> -->
		<!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" /> -->
	</head>
	<body>
		<div id='topbar'>
			<h1>LensPy with Flask demo</h1>
		</div>
		{% block content %}{% endblock %}
		<script>
			var profileId = '{{ profileId }}';
			console.log(profileId)
		</script>
		<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
		<script src="{{url_for('static',filename='js/script.js') }}"></script> -->
	</body>
</html>