{% extends 'main.html' %}

{% block content %}
	<div id="home" class="content-section hide">
		<h2>Welcome to LensPy!</h2>
		<p>This is a web3 social media site built on <a href="https://github.com/TobiasLoader/LensPy">LensPy</a> & <a href="https://www.lens.xyz">Lens Protocol.</a> This is a demo app that uses Python Flask on the backend.</p>
		<p style="margin-top:10px;">Click "Connect Wallet" in the top right to get started with the app</p>
		<p style="margin-top:10px;">TIP: make sure to have your wallet connected to the Mumbai Polygon network!</p>
	</div>
	<div id="options" class="content-section hide">
		<h2>Profile Options</h2>
		<p>These are all the options available.</p>
		<div class="button-row">
			<div id="create-another-profile-btn" class="button content-button">
				<p>Create a new Profile!</p>
			</div>
			<div id="set-default-profile-btn" class="button content-button">
				<p>Set default profile!</p>
			</div>
			<div class="back-button button content-button">
				<p>Back</p>
			</div>
		</div>
	</div>
	<div id="create-profile" class="content-section hide">
		<h2>Create Profile</h2>
		<div>
			<label>Handle:</label>
			<input id="create-profile-handle-input" placeholder="lens">
		</div>
		<div class="button-row">
			<div id="create-profile-send-btn" class="button content-button">
				<p>Create!</p>
			</div>
			<div class="back-button button content-button">
				<p>Back</p>
			</div>
		</div>
	</div>
	<div id="set-default-profile" class="content-section hide">
		<h2>Set default Profile</h2>
		<p>Choose the Profile Id from the following profiles you own.</p>
		<ul id='current-profiles'></ul>
		<div>
			<label>Profile Id:</label>
			<input id="set-default-profile-input">
		</div>
		<div class="button-row">
			<div id="set-default-profile-send-btn" class="button content-button">
				<p>Set Profile Id as default!</p>
			</div>
			<div class="back-button button content-button">
				<p>Back</p>
			</div>
		</div>
	</div>
	<div id="post" class="content-section hide">
		<h2>Post</h2>
		<p>Here you will be able to create a post.</p>
		<div class="post-section">
			<div>
				<label>Content:</label>
				<textarea id="create-post-contentURI-input" placeholder="Content URI (eg. ipfs or arweave)"></textarea>
			</div>
			<div>
				<label>Collect Module:</label>
				<input id="create-post-collectmodule-input" placeholder="collectModule">
			</div>
			<div>
				<label>Reference Module:</label>
				<input id="create-post-referencemodule-input" placeholder="referenceModule">
			</div>
		</div>
		<div class="button-row">
			<div id="create-post-send-btn"  class="button content-button">
				<p>Post</p>
			</div>
			<div class="back-button button content-button">
				<p>Back</p>
			</div>
		</div>
	</div>
	<div id="following" class="content-section hide">
		<h2>Following</h2>
		<p>The profiles you are following</p>
		<ul class="following-section"></ul>
		<div class="button-row">
			<div class="back-button button content-button">
				<p>Back</p>
			</div>
		</div>
	</div>
	<div id="my-profile" class="content-section hide">
		<div id="my-profile-row">
			<img id="my-profile-img" alt="profile-img" src="{{ url_for('static',filename='assets/img/profile_img.svg') }}">
			<div id="my-profile-name-subtitle">
				<div id="my-profile-name-id">
					<h2 id="my-profile-name"></h2>
					<p id="my-profile-id"></p>
				</div>
				<p id="my-profile-subtitle" class="subtitle">I like to code.</p>
			</div>
		</div>
		<p>Here you will see lots of info about your profile.</p>
		<div class="button-row">
			<div id="options-btn" class="button content-button">
				<p>Profile Options</p>
			</div>
			<div id="post-btn" class="button content-button">
				<p>Create Post</p>
			</div>
			<div id="following-btn" class="button content-button">
				<p>Following</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrajs %}
	<script type="module" src="{{url_for('static',filename='js/home.js')}}"></script>
{% endblock %}