<!DOCTYPE html>
<html>
	<head>
		<title>LensPy with Flask demo</title>
		<meta charset="utf-8" />
		<!-- <meta name="description" content="{{description}}" /> -->
		<!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='assets/img/favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='assets/img/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='assets/img/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static',filename='assets/img/favicon/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ url_for('static',filename='assets/img/favicon/safari-pinned-tab.svg') }}" color="#00501e">
		<link rel="shortcut icon" href="{{ url_for('static',filename='assets/img/favicon/favicon.ico') }}">
		<meta name="msapplication-TileColor" content="#00a300">
		<meta name="msapplication-config" content="{{ url_for('static',filename='assets/img/favicon/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
		<!-- <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ethers/6.0.2/ethers.min.js"></script> -->
		<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
		<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
		<script type="module" src="{{url_for('static',filename='js/main.js') }}"></script>
		{% block extrajs %}{% endblock %}
		<!-- <script src="https://cdn.jsdelivr.net/npm/web3@1.8.2/dist/web3.min.js"></script> -->
	</head>
	<body>
		<div id='topbar'>
			<h1><a href="">Flask + LensPy</a></h1>
			<!-- <div id='topcenter'>
				<form>
					<label>Handle</label>
					<input id="search-profile-input" class="search-input" placeholder="Search">
				</form>
			</div> -->
			<div id='topright'>
				<div id="search-wrapper" class="hide">
					<label>Search</label>
					<input id="search-profile-input" class="search-input" placeholder="Handle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#128270;">
				</div>
				<div id="login" class="hide button done">
					<p>Login</p>
				</div>
				<div id="connect-wallet" class="hide button">
					<p>Connect Wallet</p>
				</div>
			</div>
		</div>
		<div id="center-block">
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="notif-wrapper" class="hide">
			<div id="notification">
				<div id="notif-cross">
					<div class="notif-cross-line left"></div>
					<div class="notif-cross-line right"></div>
				</div>
				<h2 id="notif-title"></h2>
				<div id="notif-desc"></div>
			</div>
		</div>
		
		<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ethjs@0.3.4/dist/ethjs.min.js"></script> -->
		<!-- <script src="./metamask-onboarding.bundle.js"></script> -->
	</body>
</html>