
/* Standardisation for project */

html {
	height:100%;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	color:black;
	font-family: 'Inter', sans-serif;
}

h1 {
	font-size: 28px;
	line-height: 42px;
	margin:0;
	font-family: 'Space Grotesk', sans-serif;
}

h2 {
	font-size: 20px;
	line-height: 30px;
	margin:0;
	margin-bottom:10px;
	color: rgb(0,80,30);
	font-family: 'Space Grotesk', sans-serif;
}

h3 {
	font-size: 20px;
	line-height: 30px;
	margin:0;
	color: #874dde;
	font-family: 'Space Grotesk', sans-serif;
}

h3 a {
	color: #874dde;
	text-decoration: none;
}
h3 a:hover {
	color: rgb(193, 163, 238);
	text-decoration: underline;
}


p {
	font-size: 15px;
	line-height: 21px;
	margin:0;
	color: rgb(26,27,26);
	font-family: 'Inter', sans-serif;
}

a {
	color: rgb(193, 163, 238);
	text-underline-offset: 5px;
}
a:hover {
	color:#874dde;
}

/* Styling */

body {
	/* background: linear-gradient(45deg, rgb(20,30,20) 0%, rgb(21, 43, 21) 100%); */
	background: rgb(250,250,250);
	display: flex;
	flex-direction: column;
}

body * {
	opacity: 1;
	transition: opacity 300ms;
}

video.pub-video {
	max-width: 80%;
	padding: 20px 0;
	max-height: 400px;
}

img.pub-img {
	max-width: 80%;
	padding: 20px 0;
	max-height: 400px;
}

input {
	background: rgba(193, 163, 238, 0.1);
	outline: none;
	font-family: 'Space Grotesk', sans-serif;
	border: rgba(193, 163, 238, 0.5) 1px solid;
	height: 40px;
	color: black;
	padding-left: 10px;
}

input.search-input {
	background: rgba(255,255,255, 0.8);
	border-radius: 5px;
	padding-left: 20px;
	border: rgba(193, 163, 238, 1) 1px solid;
}
input.search-input :placeholder {
	color: rgba(0,0,0,0.4);
}

#center-block {
	height: calc(100% - 80px);
	flex: 1;
	margin:80px 40px;
	border-left: rgba(0,0,0,0.1) 1px solid;
}

.container {
	margin:0 40px;
}

.content-section {
	/* margin:20px; */
	/* opacity: 1;
	transition: opacity 500ms; */
}

.button {
	padding:0 20px;
	height:40px;
	border: rgba(0,80,30,0.3) 1px solid;
	cursor: pointer;
	background: rgba(0,80,30,0.03);
	opacity: 1;
	width: fit-content;
	transition: opacity 500ms;
}

.button p {
	line-height: 40px;
}

.button.done {
	background: transparent;
	border:rgba(20,30,20,0.1) 1px solid;
	cursor: default;
}
.button.done p {
	opacity: 0.6;
}

.content-button {
	margin-top:20px;
}

.button-row {
	display: flex;
}
.button-row > .button {
	margin-right:10px;
}
.button-row > .button:last-child {
	margin-right:0;
}

.hide {
	opacity: 0 !important;
	visibility: hidden;
	max-height: 0;
}

#center-block .hide * {
	display: none;
}

#topbar {
	display: flex;
	place-content: space-between;
	background: #ABFE2C;
	width:100%;
	height:80px;
	border-bottom:rgba(0,0,0,0.1) 1px solid;
}

#topbar h1, #topbar h1 * {
	margin:20px;
	color: rgb(0,80,30);
	text-decoration: none;
}

#topright #search-wrapper {
	margin: auto 10px;
}
#topright #search-wrapper label {
	margin-right:10px;
	opacity: 0;
}

#topright {
	display: flex;
	margin:0 10px;
}

#topright .button {
	margin:20px 10px;
}

.subtitle {
	color:rgba(0,0,0,0.5);
	font-style: italic;
}

/* notifications */

#notification {
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	padding: 40px;
	height: fit-content;
	min-width: 300px;
	max-width: 400px;
	background: rgb(255,255,255);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px;
	border: rgba(0, 0, 0, 0.2) 1px solid;
	overflow: auto;
}

#notification #notif-title {
	padding-right: 40px;
}

#notification #notif-cross {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	right: 0;
	margin: 20px;
	cursor: pointer;
}
#notification .notif-cross-line {
	position: absolute;
	height: 40px;
	width: 1px;
	margin-left: 20px;
	border-left: rgba(0,0,0,0.5) 1px solid;
}
#notification .notif-cross-line.left { transform: rotate(45deg);}
#notification .notif-cross-line.right {	transform: rotate(315deg);}

/* PAGE: Home */

/* Content Sections */

#my-profile #my-profile-row {
	display: flex;
	margin-bottom:20px;
}
#my-profile #my-profile-img {
	width: 80px;
	height: 80px;
	margin-right:15px;
	opacity: 0.5;
}
#my-profile #my-profile-name-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#my-profile #my-profile-name {
	margin-bottom:0;
}

#null-profile {
	
}

#create-profile {
	
}

#profile-search .search-results-area {
	display: flex;
}

#profile-search .search-results-right {
	padding:0 0 20px 40px;
	flex: 1;
	border-left: rgba(0,0,0,0.1) 1px solid;
}

#profile-search .search-results {
	padding:20px 40px 20px 20px;
	flex: 2;
}

#profile-search .search-result {
	padding: 10px 0;
	border-bottom: rgba(0,0,0,0.1) 1px solid;
}

#profile-search .search-result-title * {
	display: inline-block;
	margin-right:10px;
}

#profile-search .search-result-bio {
	width:80%;
	color: rgba(0,0,0,0.5);
	font-style: italic;
}
#profile-search .search-results-right p {
	text-align: justify;
}

/* PAGE: profile */

#profile-row {
	display: flex;
	margin-bottom:40px;
}
#profile-img {
	width: 80px;
	height: 80px;
	margin-right:15px;
	opacity: 0.5;
}
#profile-name-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#profile-name {
	margin-bottom:0;
}

#profile-name-id > * {
	display: inline-block;
	margin-right:10px;
}
#profile-subtitle {
	width: 80%;
}

#view-profile #profile-wrapper {
	display:flex;
}

#view-profile #profile-wrapper #profile-left {
	flex: 1;
}

#view-profile #profile-wrapper #profile-right {
	padding:0 0 20px 40px;
	border-left: rgba(0,0,0,0.1) 1px solid;
}

#view-profile #publications-title {
	margin-bottom: 0;
}
#view-profile #publication-list {
	padding:0 40px 20px 20px;
}

#view-profile .pub-result {
	padding: 10px 0;
	border-bottom: rgba(0,0,0,0.1) 1px solid;
}

#view-profile .pub-result-toprow {
	display: flex;
	place-content: space-between;
}

#view-profile .pub-result-title > * {
	display: inline-block;
	margin-right:10px;
}

#view-profile .pub-result-contentrow {
	display: flex;
	place-content: space-between;
}

#view-profile .pub-result-bottomrow {
	display: flex;
}

#view-profile .pub-result-bottomrow > * {
	margin-right: 10px;
}

/* PAGE: publication */


#view-publication #publication-wrapper {
	display:flex;
}

#view-publication #publication-wrapper #publication-left {
	flex: 1;
}

#view-publication #publication-wrapper #publication-right {
	padding:0 0 20px 40px;
	border-left: rgba(0,0,0,0.1) 1px solid;
}

#view-publication #publication-content {
	padding-bottom:20px;
}

#view-publication #profile-row {
	margin-bottom:0;
	padding-top:20px;
	margin-right: 40px;
	border-top:rgba(0,0,0,0.1) 1px solid;
}

#view-publication #publication-bottomrow {
	margin-bottom: 0;
	padding-top: 10px;
	display: flex;
}

#view-publication #publication-bottomrow > * {
	margin-right: 10px;
}
