
/* Standardisation for project */

html, body {
	font-family: "JetBrains Mono", monospace;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:white;
}

h1 {
	font-size: 28px;
	line-height: 42px;
	margin:0;
}

h2 {
	font-size: 20px;
	line-height: 30px;
	margin:0;
	margin-bottom:10px;
	color: rgb(184, 247, 167);
}

p {
	font-size: 14px;
	line-height: 21px;
	margin:0;
}

/* Styling */

body {
	background: linear-gradient(45deg, rgb(20,30,20) 0%, rgb(21, 43, 21) 100%);
}

input {
	background: rgb(20,30,20);
	outline: none;
	border: rgba(184, 247, 167,0.1) 1px solid;
	height: 40px;
	color: white;
	font-family: 'JetBrains Mono', monospace;
	padding-left: 10px;
}
input::placeholder{
}

.container {
	margin:20px;
}

.content-section {
	/* margin:20px; */
	opacity: 1;
	transition: opacity 500ms;
}

.button {
	padding:0 20px;
	height:40px;
	border:rgba(255, 255, 255,0.2) 1px solid;
	cursor: pointer;
	background: rgba(255, 255, 255,0.05);
	opacity: 1;
	width: fit-content;
	transition: opacity 500ms;
}

.button p {
	line-height: 40px;
}

.content-button {
	margin-top:20px;
}

.hide {
	opacity: 0 !important;
	visibility: hidden;
	max-height: 0;
}

#topbar {
	display: flex;
	place-content: space-between;
	width:100%;
	height:80px;
	border-bottom:rgba(255, 255, 255,0.1) 1px solid;
}

#topbar h1 {
	margin:20px;
	color: rgba(255, 255, 255,0.5);
}
#topbar #connect-wallet {
	margin:20px;
}
#topbar #connect-wallet.connected {
	background: transparent;
	border:rgba(255, 255, 255,0.1) 1px solid;
	cursor: default;
}

// Content Sections

#null-profile {
	
}

#create-profile {
	
}